@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Great Monday';
  src: url('/fonts/GreatMonday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


